body {
    background-color: rgb(216, 240, 255);
}

@font-face {
    font-family: Quicksand;
    src: url("./fonts/quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
    font-family: Quicksand-Bold;
    src: url("./fonts/quicksand/static/Quicksand-Bold.ttf");
}

.header h1 {
    font-size: 50px;
    font-family: Quicksand-Bold;
    position: absolute;
    top:80%;
    width: 100%;
    z-index: 1;
    text-align: center;
    background-color: aliceblue;
    padding: 15px;
}

.bluffs {
    position: fixed;
    top:0%;
    z-index: 0;
}

.color-block {
    height: 4000px;
    width: 100%;
    background-color: bisque;
    z-index: 2;
    position:absolute;
    top: 100%;
}

.article-block {
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
}

.article {
    position: relative;
    top: 15px;
}

.articles p {
    display: block;
    background-color: aliceblue;
    font-family: Quicksand;
    position: static;
    top: 15px;
    padding: 15px;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
}


.articles {
    display: inline-block;
    width: 25%;
    margin: 4%;
}